<!--
<p>{{bathroomNeed}}</p>
-->
<div class="dashboard-parent" [appScaleToWidth]="800">
  <div class="row">
    <div class="row">
      <button  class="col s6 waves-effect waves-light btn"
        (click)="togglePause()">{{appState.isPaused ? 'Continue' : 'Pause'}}</button>
      <button class="col s6 waves-effect waves-light btn"
        [disabled]="! (appState.hasTP || appState.hasPlunger || appState.hasGoldenPlunger)"
        (click)="onDrop()">Drop</button>
    </div>
    <div class="row">
      <div class="col s8">
        Lives:
      </div>
      <div class="col s4">
        Score:
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <img src="assets/heart.png" class="heart-icon" *ngFor='let life of lives'>
      </div>
      <div class="col s4">
        {{appState.score}}
      </div>
    </div>
  </div>
</div>

<div class="bathroom-bar-parent">
  <div class="bathroom-bar"
    [style.width]="(100 - 100*bathroomNeed) + '%'"
    [style.backgroundColor]="barcolor">
  </div>
</div>

<!--
<div class="soap-bar-parent">
  <div class="soap-bar"
    [style.width]="soapTime*100 + '%'"
    [style.backgroundColor]="barcolor">
  </div>
</div>
-->

<h2>
<p>Use the plungers on all the clogged toilets to open the exit.</p>
<p>Don't poop your pants!</p>
<p>Use arrow keys to move, space bar to drop an item.</p>
</h2>