<!--
<p>{{bathroomNeed}}</p>
-->
<div>
  <h1>
    <div class="row">
      <div class="col s6">
        Lives:
      </div>
      <div class="col s6">
        Score:
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <img src="assets/heart.png"  *ngFor='let life of lives'>
      </div>
      <div class="col s6">
        {{appState.score}}
      </div>
    </div>
 
   </h1>
</div>

<div class="bathroom-bar-parent">
  <div class="bathroom-bar"
    [style.width]="(100 - 100*bathroomNeed) + '%'"
    [style.backgroundColor]="barcolor"
    ></div>

</div>

<h2>
<p>Use the plungers on all the clogged toilets to open the exit.</p>
<p>Don't poop your pants!</p>
<p>Use arrow keys to move, space bar to drop an item.</p>
</h2>