.game-parent {
    font-family: "Mozart";
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;   
}

.game-col {
    position: absolute;
    height: 100%;
}


.max-height {
    height: 100%;
    overflow: hidden;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}


.death-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @keyframes text {
        0%   {opacity: 1; transform: translate(-50%, -50%) scale(0); }
        25%   {opacity: 1; transform: translate(-50%, -50%) scale(1); }
        100%  {opacity: 1; transform: translate(-50%, -50%) scale(2); }
    }
    h1 {
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
        animation-duration: 2s;
        animation-name: text;
        position: absolute;
        height: 10%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @keyframes image {
        0%   {opacity: 0; transform: translate(-50%, -50%) scale(1); }
        30%  {opacity: 1; transform: translate(-50%, -50%) scale(1.5) ; }
        40%  {opacity: 1; transform: translate(-50%, -50%) scale(1.5) ; }
        70%  {opacity: 0; transform: translate(-50%, -50%) scale(1); }
        100% { opacity:0 }
    }

    @keyframes text {
        0%   {opacity: 0; transform: translate(-50%, -50%) scale(0); }
        50%  {opacity: 0; transform: translate(-50%, -50%) scale(0); }
        80%  {opacity: 1; transform: translate(-50%, -50%) scale(2); }
        100%  {opacity: 1; transform: translate(-50%, -50%) scale(2); }
    }

    img {
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
        animation-duration: 5s;
        animation-name: image;
        position: absolute;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1 {
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
        animation-duration: 5s;
        animation-name: text;
        position: absolute;
        height: 10%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}